* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Almarai', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: white;
}

/* GENERAL CLASSES */
.center {
    width: 70%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background-color: #3161E0;
    width: 100%;
    padding: 1em 0;
}

header > div {
    margin: 0 auto;
}

header img {
    display: block;
    float: left;
    height: 1.5rem;
    line-height: 1.5em;
}

header nav {
    display: block;
    width: 50%;
    margin: 0 9.7rem;
    text-align: center;
    float: left;
    font-size: 11px;
    height: 1.5rem;
    line-height: 1.5rem;
}

header ul {
    text-align: justify;
    list-style-type: none;
    line-height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

header li {
    display: inline-block;
    margin: 0 1.5em;
}

header a {
    color: white;
}

header span {
    float: right;
    font-size: 10px;
    background-color: white;
    border: none;
    line-height: 1.5rem;
    display: block;
    padding: 0 1em;
    border-radius: 2em;
}

header nav + a {
    font-weight: normal;
    color: black;
}

/* MAIN */
main {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

main > div {
    margin: 0 auto;
    padding: 5.4em 0;
    text-align: center;
}

main h1 {
    font-size: 40px;
    margin-bottom: 1.5rem;
}

main p {
    width: 60%;
    margin: 0 auto;
}

main .btns {
    width: 50%;
    margin: 2rem auto;
}

.btns svg {
    height: 12px;
}

.btns a {
    padding: .7rem 1.5rem;
    border-radius: 2em;
}

.btns a:first-child {
    color: black;
    background-color: white;
    margin-right: 1rem;
}

.btns a:last-child {
    color: white;
    background-color: #23272A;
}

/* SECTIONS GENERAL */
.row {
    background-color: white;
    margin: 5rem auto 20rem;
}

.row img {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

.section-text {
    margin-top: 1.5rem;
    display: block;
    width: 30%;
    color: black;
}

.section-text h1 {
    font-size: 35px;
    line-height: 1.4;
    color: #24282D;
}

.section-text p {
    margin-top: 1.5rem;
    font-size: 16px;
}

/* SEC_1 UN LUOGO A...*/
.row_1 .section-text {
    float: right;
}

/* SEC_2 DOVE TROVARSI... */
.row_2 {
    background-color: #F6F6F6;
}

.row_2 .section-text {
    float: left;
}

.row_2 img {
    float: right;
    margin-right: -1rem;
}

/* ADD UN DIV.CENTER ALLE SECTION */